#main-footer  {
    color: $white;
    background-color: $mainColor;
    background: {
        image: url(img/bg-footer.png);
        size: cover;
        position: center;
    }
    @media #{$onlyMobile} {
        line-height: 1.5;
        padding: 20px;
    }

    text-align: center;
    #main-footer-top {
        padding: 60px 0;
        max-width: 690px;
        margin: auto;

        .logo {
            width: 100%;
            max-width: 650px;
            padding: 20px;
        }

    }
    #main-footer-bottom {
        background-color: $mainColorDark;
        padding: 20px 0;
        font-size: 12px;
    }
    font-size: 116%;
    line-height: .75;
    .social-media {
        padding: 40px 0 0;
    }

}

.frm_fields_container {
    display: flex !important;
    align-items: center;
    margin: 30px 0 0;
    > * {
        flex: 1;
    }
    .ui-button-holder {
        display: flex;
    }
    button {
        background-color: tomato;
        height: 50px;
    }
    @media #{$onlyMobile} {
        flex-direction: column;
        #frm_field_6_container {
            width: 100% !important;
        }
    }
}

.frm_fields_container input {
    width: 100% !important;
    max-width: 96% !important;
    display: inline-block;
    height: 50px;
    padding: 12px;
    color: gray;
}

.frm_form_field {
    width: 33.33% !important;
}

fieldset {
    border: 0;
}

.frm_message {
    background: #fb9008;
    padding: 30px;
    margin: 50px 0 0;
    font-size: 18px;
}
