#main-footer  {
    color: $white;
    background-color: $mainColor;

    text-align: center;
    #main-footer-top {
        padding: 60px 0;
        background: {
            image: url(img/bg-footer.png);
            size: cover;
            position: center;
        }
        .logo {
            width: 100%;
            max-width: 650px;
            padding: 20px;
        }

    }
    #main-footer-bottom {
        background-color: $mainColorDark;
        padding: 20px 0;
        font-size: 12px;
    }
    font-size: 116%;
    line-height: .75;
    .social-media {
        padding: 40px 0 0;
    }

}
