.archive {
    .post {
        .excerpt {
            box-sizing: border-box;
            padding: 0 20px 0;
            font-size: 13px;
        }
        .feed-thumbnail {
            height: 250px !important;
        }
    }
}
